<h2 class="component-title">This is item component</h2>
<p>item works!</p>
<p>Welcome to Angular{{username}}</p>
<section>
    <h3>{{itemname}}</h3>
    <p>Product {{itemname}} is stock? {{getStockStatus}}</p>
    <button class="btncart" [disabled]="isSoldOut">Add to Cart</button>
</section>
<h2>Event Binding</h2>
<button (click)="onSave()">Save</button>
<button (click)="addProduct()" [disabled]="btn_out_stock">Add Product</button>
<!-- <p>{{productmsg}}</p> -->
<p>Only {{total_in_stock}} items left!<span>{{outStock}}</span></p>
<p>Total of {{total_added}} items added to cart</p>
